body{
	background-color: white;
}
h1{
  	font-family: "interstate", sans-serif;
	font-weight: 700;
	font-style: normal;
  }
h2{
  	font-family: "interstate", sans-serif;
	font-weight: 700;
	font-style: normal;
  }

p{
	font-space: 22px;
	letter-spacing: .5px;
	margin-top: 0;
}
a:{
	text-decoration: none;
	font-family: interstate;
}
a:link{
	color: tomato;
}
a:visited{
	color: blue;
}
a:hover {
	color: darkred;
}
