*{
	box-sizing: border-box;
}
body{
	background-color: white;
}
h1{
  	font-family: "interstate", sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 3rem;
 }
h2{
  	font-family: "interstate", sans-serif;
	font-weight: 700;
	font-style: normal;
  }
header{
	width: 90vw;
	margin: 25px auto;
	background-color: blue;
}
main{
	width: 90vw;
	margin: 25px auto;
	background-color: yellow;
}
.column{
	width: 50%;
	background-color: red;
	float: left;
	display: flow-root;
}
p{
	font-space: 22px;
	letter-spacing: .5px;
	margin-top: 0;
}
a:{
	text-decoration: none;
	font-family: interstate;
}
a:link{
	color: tomato;
}
a:visited{
	color: blue;
}
a:hover {
	color: darkred;
}
@media screen and (max-width: 900px) {
	.column{
		width: 100%;
		margin-bottom: 50px;
	}
}