.body1{
	background-color: #111111;
	color:whitesmoke;
	font-family: ;
}
.h1{
	font-family: "navigo", sans-serif;
	font-weight: 700;
	font-style: normal;
}
.h3{
	font-family: "navigo", sans-serif;
	font-weight: 700;
	font-style: normal;
}
